.terminal {
}

.MuiPaper-root {
  background-color: var(--glass-bg) !important;
  box-shadow: var(--glass-shadow) !important;
  backdrop-filter: var(--glass-backdrop) !important;
  border: var(--glass-border) !important;
}
